---
import Layout from '../layouts/default.astro';
---

<Layout>
    <section
        class="bg-cover mobile-friendly-100vh sm:-mx-100vw sm:px-100vw flex items-center"
        slot="above-header"
        style="background-image: url('/background.jpg')"
    >
        <div class="h-100% w-100% flex justify-evenly items-center">
            <img class="h-300px" src="/bijutsukan.svg" alt="Bijutsukan logo" />

            <div class="max-w-33vw text-black text-xl">
                <h1 class="text-4xl text-crimson9 m-b-1rem">Bijutsukan</h1>

                <p>
                    A <span class="text-crimson9">friendly, easy to use</span>
                    iOS app for collecting and organizing
                    <span class="text-crimson9">anime fanart</span>
                    and <span class="text-crimson9">anything else</span> on Boorus.
                </p>

                <h2 class="m-y-1rem text-3xl">Coming soon.</h2>

                <p>
                    For more information, <a
                        class="text-crimson9 underline"
                        href="https://twitter.com/bijutsukanapp"
                        >follow us on Twitter</a
                    >.
                </p>
            </div>
        </div>
    </section>
</Layout>

<style>
    .mobile-friendly-100vh {
        min-height: calc(100vh - 60px);
        min-height: calc(100dvh - 60px);
    }
</style>
