---
import Layout from '../layouts/default.astro';
---

<Layout>
    <section
        class="bg-cover mobile-friendly-100vh sm:-mx-100vw sm:px-100vw flex items-center"
        slot="above-header"
        style="background-image: url('/background.jpg')"
    >
        <div class="h-100% w-100% flex justify-evenly items-center">
            <img class="h-300px" src="/bijutsukan.svg" alt="Bijutsukan logo" />

            <div class="max-w-33vw text-black text-xl">
                <h1 class="text-4xl text-crimson9 m-b-1rem">Bijutsukan</h1>

                <p>
                    A <span class="text-crimson9">friendly, easy to use</span>
                    iOS app for collecting and organizing
                    <span class="text-crimson9">anime fanart</span>
                    and <span class="text-crimson9">anything else</span> on Boorus.
                </p>

                <h2 class="m-y-1rem text-3xl">Coming soon.</h2>

                <p>
                    For more information, <a
                        class="text-crimson9 underline"
                        href="https://twitter.com/bijutsukanapp"
                        >follow us on Twitter</a
                    >.
                </p>
            </div>
        </div>
    </section>

    <main class="p-1rem w-100% break-words">
        <h1 class="m-b-1rem text-3xl">Frequently Asked Questions</h1>

        <section>
            <h2 class="m-b-0.5rem text-2xl">What does the name mean?</h2>
            Bijutsukan (美術館) means &ldquo;art gallery&rdquo; in Japanese. We thought
            that was a fairly appropriate name for an app designed to help you curate
            your own personal collection of your favorite art.
        </section>

        <section>
            <h2 class="m-y-0.5rem text-2xl">
                The icon doesn't contain the whole wordmark.
            </h2>
            We chose to include only <ruby>美<rt>bi</rt>術<rt>jutsu</rt></ruby> in
            the icon to better fit the design into a square shape.
        </section>
    </main>
</Layout>

<style>
    .mobile-friendly-100vh {
        min-height: calc(100vh - 60px);
        min-height: calc(100dvh - 60px);
    }
</style>
