---
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/bijutsukan.svg" />
        <meta name="theme-color" content="#e83e82" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Bijutsukan</title>
    </head>
    <body>
        <div class="overflow-x-hidden">
            <div class="font-sans sm:container sm:mx-auto">
                <section
                    class="bg-cover mobile-friendly-100vh sm:-mx-100vw sm:px-100vw text-black"
                    style="background-image: url('/background.jpg')"
                >
                </section>
                <header
                    class="h-60px lh-60px sm:-mx-100vw sm:px-100vw bg-crimson9 text-4xl text-white"
                >
                    <nav class="relative w-100%">Bijutsukan</nav>
                </header>
            </div>
        </div>
    </body>
</html>

<style scoped="global">
    .mobile-friendly-100vh {
        min-height: calc(100vh - 60px);
        min-height: calc(100dvh - 60px);
    }
</style>
